html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}

/*---*/

/*flex container*/
header {
    /* border: 1px solid purple; */
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
}

/* .leftheader { */
    /* float: left; */
    /* border: 1px solid red; */
/* }  --> nem kell floatolni, mert ez mar egy flex item*/

.rightheader {
    /* border: 1px solid blue; */
    padding: 0;
    /*a ket szoveg kozepen legyen fuggolegesen*/
    margin: 0 0 0 1rem;
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;
    
}

.rightheader h1 {
    color: #DA0090;
    /* border: 1px solid green; */
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.rightheader p {
    /* border: 1px solid green; */
    font-size: 0.9rem;
    margin: 0;
}



nav ul {
    list-style-type: none; /* turn off the bulleting */
    border-top: 0.1rem solid #DA0090;
    border-bottom: 0.1rem solid #A51F10;
    text-align: center; /*az egesz unordered list altal tartalmazott anyagot akarom kozepre tenni*/
    margin: 0.5rem 0 0.5rem 0; /*shorthand way of giving the margin values*/
}

nav li {
    display: inline-block; /*change from vertical to horizontal*/
    /* border: 1px solid blue; */
    padding: 1rem;
}

/* i make a class to float the pictures */
.floatleft {
    float: left;
    margin-right: 0.8rem;
    border-radius: 1rem;
}

/*if you float you must clear*/
article:after {
    content: "";
    display: table;
    clear: both; /*clear to the left and right*/
}

article {
    /* border: 1px solid blue; */
    margin: 1.5rem 0 3rem 0;
}

.emptybox {
    /* border: 1px solid green; */
    padding: 0.3rem;
    border-top: 0.1rem solid #DA0090;
    border-bottom: 0.1rem solid #A51F10;
    margin: 0.5rem 0 0.5rem 0; 
}

footer ul{
    list-style-type: none; /* turn off the bulleting */
    /* border: 1px solid blue; */
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0; /*the browser automaically put padding, which was throwing off the centering --> because its a list that has default bulleting --> the bulleting was removed but the padding remained*/
    
}

footer li {
    /* border: 1px solid red; */
    margin: 0 0.2rem 0 0.2rem;
    padding: 0;
}

footer {
    /* border: 1px solid purple; */
    margin: 1rem 0 4rem 0;
   
}

footer a {
    display: flex; /*?*/
}

/*ez a div teljesen kozrefogja az egesz contentet --> ez jobb mint a kisebb objectekre kulon margin-t rakni*/
.wrapper {
    width: 80%;
    margin: 0 auto;/*center on the page*/
}